<a href="https://colab.research.google.com/github/Jiras-1996/DataRockie-Bootcamp-Project/blob/main/Python_End_to_End_Batch_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python End to End (Batch 5)**

Contents :
- Varaible
- Data Type
- String
- Data Structure
- Function
- Control Flow
- OOP (Object Oriented Programming)

In [ ]:
# basic computation
print(1 + 2)
print(2 * 2)
print(5 / 2)
print(5 // 2) #floor division
print(6 - 4)
print(5 % 2) #modulo

3
4
2.5
2
2
1

In [ ]:
# variable
income = 50000
expense = 28000
saving = income - expense

In [ ]:
print(saving)

22000

In [ ]:
del saving
print(saving)

NameError: ignored

In [ ]:
# string variable
my_name = "toy" #"toy"
my_age = 33

In [ ]:
print("Hello! my name is " + my_name + " and I'm " + str(my_age) + " years old")

In [ ]:
# F-STRING
text = f"Hello! my name is {my_name} and I'm {my_age} years old"
print(text)

In [ ]:
# type hinting (hint but not enforce)
data type -> str , int , float ,bool

name: str = "Toy"
age: int = 25
gpa: float = 3.52
movie_lover: bool = True # False

In [ ]:
name = "Toy"
isinstance(name, str)

## **Function**

In [ ]:
# create your own function
def greeting_name(name, city):
  print(f"Hello! {name}. We live in {city}.")

name = "top"
city = "London"
greeting_name(name, city) # name is parameter and top is argument

Hello! top. We live in London.

In [ ]:
greeting_name(city= "london" , name = "top")

Hello! top. We live in london.

In [ ]:
# default argument
def greeting_name(name, city = "London"):
  print(f"Hello! {name}. We live in {city}.")

In [ ]:
# get input from user
#input() get string input

In [ ]:
def greeting_name2():
  name = input("What's your name? ")
  print(f"Greeting {name}!")

In [ ]:
greeting_name2()

What's your name? j
Greeting j!

In [ ]:
#normal function
def add_two_nums(a, b):
  return a+b

result = add_two_nums(10, 200)
print(result)

210

In [ ]:
# lambda function(only python!)
add_two_nums = lambda a,b: a+b
add_two_nums(10, 15)

25

In [ ]:
greeting = lambda name: f"Hello! {name}"
result = greeting("toy")

print(result)

Hello! toy

## **Sting**

In [ ]:
long_text = """Hello world
I'm learning python
It's as easy as R!
CooL!"""

print(long_text)

Hello world
I'm learning python
It's as easy as R!
CooL!

In [ ]:
text = "a duck walks into a bar...."

In [ ]:
# function vs. method
print(len(text))
print(text)

27
a duck walks into a bar....

In [ ]:
# string methods (ทุก method คือ function แต่ไม่ใช่ทุก function จะเป็น method)
text.upper()
text.lower()

text = text.replace("duck", "lion")
print(text)

a lion walks into a bar....

In [ ]:
# strip (ใช้ลบอักขระพิเศษ)
"               hello world                     ".strip(" ")
text = text.strip(".")
print(text)

a lion walks into a bar

In [ ]:
# count
text.count("a")

4

In [ ]:
# split and join text
split_text = text.split(" ")
print(split_text)

"++".join(split_text)

['a', 'lion', 'walks', 'into', 'a', 'bar']

'a++lion++walks++into++a++bar'

In [ ]:
# subset / indexing
# python index starts with 0

In [ ]:
HW 
1. เป่ายิ้งฉุบ
2. atm method

SyntaxError: ignored